# Ignore compiled Python bytecode files

# Ignore Python cache directories
__pycache__/

# Ignore environment-specific settings
.env
.result


# Ignore editor-specific files
.vscode/
.idea/
*.sublime-*

.temp
.temp/*
.log

localconfig.py